# Data and database
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
db/*.db
db/*.sqlite

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# OS
.DS_Store
